.row.text-centered
  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    %h1
      Free stuff from
      %br
      People Like You
    %hr.short-hr
    %p.sub-head Share and find which plants grow where, what to plant in your garden or at home.
