.page-body#user-profile
  .container
    %h1 
      = "Welcome #{current_user.email}"
    %br
    %p edit your profile
    %p list your plants
    %p put a wish list up
    %p see friends
    %p see people around
    %p see map of plants around your home
    %p or ask the user to save the default view of their map
    %p invite people
    %p create a post
    %p create a gallery
