.page-body.hero-unit.full-bleed
  .container
    = render partial: 'hero_unit'
.container.padding-vertical.full-bleed.how-to
  .container
    .row
      .col-md-6.home-grown-benefit
        %i.glyphicon.glyphicon-map-marker
        %i.glyphicon.glyphicon-tree-deciduous.large-tree
        %p 
          %strong Post Plants To Map
        %p post plants from your garden or anywhere to the map
      .col-md-6.home-grown-benefit
        %i.glyphicon.glyphicon-tree-deciduous.small-tree.left
        %i.glyphicon.glyphicon-map-marker
        %i.glyphicon.glyphicon-tree-deciduous.small-tree
        %p
          %strong Browse Maps For Plants 
        %p look in the map to see wher eplants grow. 
    .row
      .col-md-6.home-grown-benefit
        %i.glyphicon.glyphicon-user.small-user.user-right
        %i.glyphicon.glyphicon-user.user-center
        %i.glyphicon.glyphicon-user.small-user.user-left
        %p 
          %strong Share Your Experience 
        %p share how you grow your plants...
      .col-md-6.home-grown-benefit
        %i.glyphicon.glyphicon-question-sign
        %p
          %strong Learn from Others Experience
        %p learn from the... 
.footer.no-margin-top
  .container
    .row.footer-links
      .col-md-12.text-center
        %ul.footer-list
          %li Privacy
          %li Facebook
          %li Twitter
