#about-page-wrapper.page-body
  -#TODO: need a saying for HomeGrown to replace the one below
  -#  %h3 Get outdoors, with peace of mind.
  -#  %br
  %h4 About HomeGrown
  .details
    %p
      HomeGrown is a social gardening website that helps you share ideas for making your home a more beautiful place.  HomeGrown was founded in San Francisco, California in 2014.
  %br
  %h4 About The Team
  .details
    %p
      HomeGrown is run by a husband and wife living in the San Francisco Bay Area, CA.  After purchasing our first house, we've become focused on home improvement projects, especially in our yard, while we also settle into our community and get to know our neighbors.
    %p
      We realize that many people may want to garden, but don't have the knowledge or experience (like us!).  We also believe that engaging with those around you is a rewarding way to get to know your neighbors and improve your gardening skills.  Thus, HomeGrown: a social gardening site that allows users to share knowledge, tips, ideas - even food and plants - with those around them.
  %br
  %h4 You
  .details
    %p
      Are you interested in making your home a more beautiful place?
      = link_to "  Sign up", root_path
      with us to be one of the first people to use HomeGrown.
      = link_to "  Contact us", contact_us_path
      and let us know what you'd like to see!
