#about-page-wrapper
  .inner-text
    %h4 About HomeGrown
    .details
      %p
        HomeGrown is a social gardening website that helps you share ideas for making your garden and home a more beautiful place. You can share and find what plants grown in your area, and get tips from people in your area or otherwise. HomeGrown was founded in San Francisco, California in 2014.
    %br
    %h4 About The Team
    .details
      %p
        HomeGrown is run by a husband and wife living in the San Francisco, CA.  After purchasing our first house, we've become focused on home improvement projects, especially in our yard, we think gardening is fun for individuals, but it's even more fun and productive if you can share your ideas and tips online, and also your garden produce in the real world.
        %p
        We realize that many people may want to garden, but don't have the knowledge or experience (like us!).  We also believe that engaging with those around you is a rewarding way to get to know your neighbors and improve your gardening skills.  Thus, HomeGrown: a social gardening site that allows users to share knowledge, tips, ideas - even food and plants - with those around them.
    %br
    %h4 You
    .details
      %p
        Are you interested in getting more out of your garden or your indoor plants? Or you want to share your knowledge with other poeple and spread the love of gardening?
        = link_to "  Sign up", root_path
        with us to be one of the first people to use HomeGrown.
        = link_to "  Contact us", contact_us_path
        and let us know what you'd like to see!
