.navbar
  .container
    %nav
      #logo
        =link_to(image_tag("home_grown_logo_thin_sp.png"), "/")
      %ul.nav.navbar-nav
        -if user_signed_in?  
          = render partial: 'navbar_logged_in_links'
        -else
          = render partial: 'navbar_logged_out_links'
